*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.form{

    padding: 30px 40px;

}
.form-controls{

    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-controls label{

   color: #777;
   display: block;
   margin-bottom: 5px;
}
.form-controls input{
    border: 2px solid  #f0f0f0;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-size: 14px;

}
.form-controls input:focus{
    outline: 0;
    border-color: #777;
}
.form-controls.success input{

    border-color:green;

}
.form-controls.error input{
    border-color:red;
}

.form-controls small{
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-controls.error small{

    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #3498db;
    border: 2px sold #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}
.login{
	width:100%;
	display:block;
	margin-top:20px;
	position: absolute;
  	top: 10%;
  	left: 50%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,.2), 0 7px 20px 0 rgba(0,0,0,.17);
}
.contains{
	width:100%;
	display:block;
	margin-top:20px;
	position: absolute;
  	top: 50%;
  	left: 80%;
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,.2), 0 7px 20px 0 rgba(0,0,0,.17);
}